@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');

html {
  overflow-x: hidden;
}


body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(-45deg, #47C5CF, #94DABC, #FFCF54, #FAD1E2);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}


body::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url('../img/noise.gif');
  opacity: .05;
  z-index: 100000;
  pointer-events: none;
}


header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 45px;
  background: transparent;
}

header .logo_area {
  width: 120px;
  perspective: 600px;
}

header .logo_area:hover h1 {
  transform: rotateY(360deg);
}

header h1 {
  color: #fff;
  font-family: 'roboto', sans-serif;
  font-size: 27px;
  font-weight: 300;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: 1s;
  transform-style: preserve-3d;
}

header h1:hover {
  color: #fff;
}

header .nav {
  position: relative;
  width: 30px;
  height: 24px;
}

header .nav .bar {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50%;
  height: 3px;
  background: #fff;
  border-radius: 20px;
  transition: .3s;
}

header .nav .bar:nth-of-type(2) {
  top: 50%;
  left: auto;
  right: 0;
  width: 100%;
}

header .nav .bar:nth-of-type(3) {
  top: 100%;
  left: auto;
  right: 0;
  width: 50%;
}

header .nav:hover .bar {
  width: 100%;
}

.target_area {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
  mix-blend-mode: multiply;
  opacity: .5;
}

.target {
  position: fixed;
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: -60px 0 0 -60px;
  background: #fd8787;
  transition: all .2s ease-in-out;
}

/* section_01 */

.sec_01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 140px;
  width: 100%;
  height: 100vh;
}

.sec_01 .title {
  position: relative;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 5vw;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -3px;
}

.sec_01 .title img {
  animation: greet 1s infinite;
  width: 70px;
  height: 70px;
}

.sec_01 .text {
  width: 100%;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 100%;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #c6a9d3;
}

.belize {
  color: #6eb5e4;
}

.pomegranate {
  color: #f3968b;
}

.green {
  color: #86c057;
}

.sec_01 .img_area {
  position: relative;
}

.sec_01 .img_area .thumb {
  position: relative;
  z-index: 3;
  cursor: pointer;
  width: 500px;
  height: 500px;
  border-radius: 65% 35% 60% 30%;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 25%);
  overflow: hidden;
}

.sec_01 .img_area .circle {
  position: absolute;
  top: -80px;
  right:0px;
  width: 530px;
  height: 390px;
  background: linear-gradient(141deg, rgb(235 255 155 / 98%) 0.4%, #6db6f5 99.89%);
  border-radius: 34% 78% 45% 65% / 40% 55% 55% 60%;
  transition: 0.5s;
}

.sec_01 .img_area .circle.type_02 {
  top: auto;
  bottom: -60px;
  right:0;
  width: 320px;
  height: 230px;
  background: linear-gradient(194deg, #edb7b7, #b6d10db3);
  border-radius: 70% 40% 60% 40%;
  animation: circle 4s linear infinite;
}

.sec_01 .img_area .circle.type_03 {
  z-index:10;
  top: 270px;
  left: -90px;
  width: 130px;
  height: 140px;
  background: linear-gradient(289deg, #bbe1f3, #f9b1b1);
  border-radius: 80% 60% 80% 65%;
  box-shadow: 10px 5px 15px rgb(0 0 0 / 10%);
}

.arrow {
  position: absolute;
  top: 620px;
  right: 240px;
  stroke-dasharray: 60;
  stroke-dashoffset: 120;
  animation: dash 2.5s linear infinite;
}
.arrow_txt{
  color:#fff;
  position: absolute;
    right: 100px;
    bottom: -10px;
    letter-spacing: 2px;
}